In [1]:
import pandas as pd

In [2]:

file_path = '/home/ryanhabis/Documents/College folder/semester-1/Programming for Data Analytics/dataset/Dataset- Superstore (2015-2018).csv'
sales_data = pd.read_csv(file_path)

In [3]:
sales_data.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016/11/08,2016/11/11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016/11/08,2016/11/11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016/06/12,2016/06/16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015/10/11,2015/10/18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015/10/11,2015/10/18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [4]:
sales_data.shape

(9994, 21)

In [5]:
sales_data.Country

0       United States
1       United States
2       United States
3       United States
4       United States
            ...
9989    United States
9990    United States
9991    United States
9992    United States
9993    United States
Name: Country, Length: 9994, dtype: object

In [6]:
subset = sales_data[['Country', 'City', 'State', 'Sales', 'Profit']]

Two ways to display.

In [7]:
display(subset)

            Country             City       State     Sales    Profit
0     United States        Henderson    Kentucky  261.9600   41.9136
1     United States        Henderson    Kentucky  731.9400  219.5820
2     United States      Los Angeles  California   14.6200    6.8714
3     United States  Fort Lauderdale     Florida  957.5775 -383.0310
4     United States  Fort Lauderdale     Florida   22.3680    2.5164
...             ...              ...         ...       ...       ...
9989  United States            Miami     Florida   25.2480    4.1028
9990  United States       Costa Mesa  California   91.9600   15.6332
9991  United States       Costa Mesa  California  258.5760   19.3932
9992  United States       Costa Mesa  California   29.6000   13.3200
9993  United States      Westminster  California  243.1600   72.9480

[9994 rows x 5 columns]

In [8]:
print(subset)

            Country             City       State     Sales    Profit
0     United States        Henderson    Kentucky  261.9600   41.9136
1     United States        Henderson    Kentucky  731.9400  219.5820
2     United States      Los Angeles  California   14.6200    6.8714
3     United States  Fort Lauderdale     Florida  957.5775 -383.0310
4     United States  Fort Lauderdale     Florida   22.3680    2.5164
...             ...              ...         ...       ...       ...
9989  United States            Miami     Florida   25.2480    4.1028
9990  United States       Costa Mesa  California   91.9600   15.6332
9991  United States       Costa Mesa  California  258.5760   19.3932
9992  United States       Costa Mesa  California   29.6000   13.3200
9993  United States      Westminster  California  243.1600   72.9480

[9994 rows x 5 columns]

In [9]:
sales_data.iloc[0:5, :]  # first 5 rows and first 5 columns

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016/11/08,2016/11/11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016/11/08,2016/11/11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016/06/12,2016/06/16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015/10/11,2015/10/18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015/10/11,2015/10/18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [10]:
specific_data = sales_data.iloc[[0,50,100],[0,5]]  # specific rows and columns
display(specific_data)

     Row ID Customer ID
0         1    CG-12520
50       51    DP-13000
100     101    RB-19465

In [11]:
last_five = sales_data.iloc[-5:, :]  # last 5 rows
display(last_five)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
9989,9990,CA-2014-110422,2014/01/21,2014/01/23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.248,3,0.2,4.1028
9990,9991,CA-2017-121258,2017/02/26,2017/03/03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.960,2,0.0,15.6332
9991,9992,CA-2017-121258,2017/02/26,2017/03/03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.576,2,0.2,19.3932
9992,9993,CA-2017-121258,2017/02/26,2017/03/03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.600,4,0.0,13.3200
9993,9994,CA-2017-119914,2017/05/04,2017/05/09,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.160,2,0.0,72.9480

In [12]:
data = sales_data.iloc[1:8:,2:5] 
display(data)

   Order Date   Ship Date       Ship Mode
1  2016/11/08  2016/11/11    Second Class
2  2016/06/12  2016/06/16    Second Class
3  2015/10/11  2015/10/18  Standard Class
4  2015/10/11  2015/10/18  Standard Class
5  2014/06/09  2014/06/14  Standard Class
6  2014/06/09  2014/06/14  Standard Class
7  2014/06/09  2014/06/14  Standard Class

In [13]:
sales_data.iloc[-10:,:]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
9984,9985,CA-2015-100251,2015/05/17,2015/05/23,Standard Class,DV-13465,Dianna Vittorini,Consumer,United States,Long Beach,...,11561,East,OFF-LA-10003766,Office Supplies,Labels,Self-Adhesive Removable Labels,31.500,10,0.0,15.1200
9985,9986,CA-2015-100251,2015/05/17,2015/05/23,Standard Class,DV-13465,Dianna Vittorini,Consumer,United States,Long Beach,...,11561,East,OFF-SU-10000898,Office Supplies,Supplies,Acme Hot Forged Carbon Steel Scissors with Nic...,55.600,4,0.0,16.1240
9986,9987,CA-2016-125794,2016/09/29,2016/10/03,Standard Class,ML-17410,Maris LaWare,Consumer,United States,Los Angeles,...,90008,West,TEC-AC-10003399,Technology,Accessories,Memorex Mini Travel Drive 64 GB USB 2.0 Flash ...,36.240,1,0.0,15.2208
9987,9988,CA-2017-163629,2017/11/17,2017/11/21,Standard Class,RA-19885,Ruben Ausman,Corporate,United States,Athens,...,30605,South,TEC-AC-10001539,Technology,Accessories,Logitech G430 Surround Sound Gaming Headset wi...,79.990,1,0.0,28.7964
9988,9989,CA-2017-163629,2017/11/17,2017/11/21,Standard Class,RA-19885,Ruben Ausman,Corporate,United States,Athens,...,30605,South,TEC-PH-10004006,Technology,Phones,Panasonic KX - TS880B Telephone,206.100,5,0.0,55.6470
9989,9990,CA-2014-110422,2014/01/21,2014/01/23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.248,3,0.2,4.1028
9990,9991,CA-2017-121258,2017/02/26,2017/03/03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.960,2,0.0,15.6332
9991,9992,CA-2017-121258,2017/02/26,2017/03/03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.576,2,0.2,19.3932
9992,9993,CA-2017-121258,2017/02/26,2017/03/03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.600,4,0.0,13.3200
9993,9994,CA-2017-119914,2017/05/04,2017/05/09,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.160,2,0.0,72.9480

In [14]:
sales_data.iloc[[100],[10]]

        State
100  Illinois

In [15]:
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB

In [16]:
subset = sales_data.loc[:,["Sales","Profit"]]

print(subset)

         Sales    Profit
0     261.9600   41.9136
1     731.9400  219.5820
2      14.6200    6.8714
3     957.5775 -383.0310
4      22.3680    2.5164
...        ...       ...
9989   25.2480    4.1028
9990   91.9600   15.6332
9991  258.5760   19.3932
9992   29.6000   13.3200
9993  243.1600   72.9480

[9994 rows x 2 columns]

In [17]:
sales_data["Order Date"] = pd.to_datetime(sales_data["Order Date"])
print(sales_data["Order Date"])

0      2016-11-08
1      2016-11-08
2      2016-06-12
3      2015-10-11
4      2015-10-11
          ...
9989   2014-01-21
9990   2017-02-26
9991   2017-02-26
9992   2017-02-26
9993   2017-05-04
Name: Order Date, Length: 9994, dtype: datetime64[ns]

In [18]:
sales_data = sales_data.set_index("Order Date")
print(sales_data)

            Row ID        Order ID   Ship Date       Ship Mode Customer ID  \
Order Date
2016-11-08       1  CA-2016-152156  2016/11/11    Second Class    CG-12520
2016-11-08       2  CA-2016-152156  2016/11/11    Second Class    CG-12520
2016-06-12       3  CA-2016-138688  2016/06/16    Second Class    DV-13045
2015-10-11       4  US-2015-108966  2015/10/18  Standard Class    SO-20335
2015-10-11       5  US-2015-108966  2015/10/18  Standard Class    SO-20335
...            ...             ...         ...             ...         ...
2014-01-21    9990  CA-2014-110422  2014/01/23    Second Class    TB-21400
2017-02-26    9991  CA-2017-121258  2017/03/03  Standard Class    DB-13060
2017-02-26    9992  CA-2017-121258  2017/03/03  Standard Class    DB-13060
2017-02-26    9993  CA-2017-121258  2017/03/03  Standard Class    DB-13060
2017-05-04    9994  CA-2017-119914  2017/05/09    Second Class    CC-12220

               Customer Name    Segment        Country             City  \
Order Date
2016-11-08       Claire Gute   Consumer  United States        Henderson
2016-11-08       Claire Gute   Consumer  United States        Henderson
2016-06-12   Darrin Van Huff  Corporate  United States      Los Angeles
2015-10-11    Sean O'Donnell   Consumer  United States  Fort Lauderdale
2015-10-11    Sean O'Donnell   Consumer  United States  Fort Lauderdale
...                      ...        ...            ...              ...
2014-01-21  Tom Boeckenhauer   Consumer  United States            Miami
2017-02-26       Dave Brooks   Consumer  United States       Costa Mesa
2017-02-26       Dave Brooks   Consumer  United States       Costa Mesa
2017-02-26       Dave Brooks   Consumer  United States       Costa Mesa
2017-05-04      Chris Cortes   Consumer  United States      Westminster

                 State  Postal Code Region       Product ID         Category  \
Order Date
2016-11-08    Kentucky        42420  South  FUR-BO-10001798        Furniture
2016-11-08    Kentucky        42420  South  FUR-CH-10000454        Furniture
2016-06-12  California        90036   West  OFF-LA-10000240  Office Supplies
2015-10-11     Florida        33311  South  FUR-TA-10000577        Furniture
2015-10-11     Florida        33311  South  OFF-ST-10000760  Office Supplies
...                ...          ...    ...              ...              ...
2014-01-21     Florida        33180  South  FUR-FU-10001889        Furniture
2017-02-26  California        92627   West  FUR-FU-10000747        Furniture
2017-02-26  California        92627   West  TEC-PH-10003645       Technology
2017-02-26  California        92627   West  OFF-PA-10004041  Office Supplies
2017-05-04  California        92683   West  OFF-AP-10002684  Office Supplies

           Sub-Category                                       Product Name  \
Order Date
2016-11-08    Bookcases                  Bush Somerset Collection Bookcase
2016-11-08       Chairs  Hon Deluxe Fabric Upholstered Stacking Chairs,...
2016-06-12       Labels  Self-Adhesive Address Labels for Typewriters b...
2015-10-11       Tables      Bretford CR4500 Series Slim Rectangular Table
2015-10-11      Storage                     Eldon Fold 'N Roll Cart System
...                 ...                                                ...
2014-01-21  Furnishings                             Ultra Door Pull Handle
2017-02-26  Furnishings  Tenex B1-RE Series Chair Mats for Low Pile Car...
2017-02-26       Phones                              Aastra 57i VoIP phone
2017-02-26        Paper  It's Hot Message Books with Stickers, 2 3/4" x 5"
2017-05-04   Appliances  Acco 7-Outlet Masterpiece Power Center, Wihtou...

               Sales  Quantity  Discount    Profit
Order Date
2016-11-08  261.9600         2      0.00   41.9136
2016-11-08  731.9400         3      0.00  219.5820
2016-06-12   14.6200         2      0.00    6.8714
2015-10-11  957.5775         5      0.45 -383.0310
2015-10-11   22.3680         2      0.20    2.5164
...              ...       ...       ...       ...
2014-01-21   25.2480         3      0.20    4.1028
2017-02-26   91.9600         2      0.00   15.6332
2017-02-26  258.5760         2      0.20   19.3932
2017-02-26   29.6000         4      0.00   13.3200
2017-05-04  243.1600         2      0.00   72.9480

[9994 rows x 20 columns]

In [19]:
sales_data = sales_data.sort_values(by="Order Date")
print(sales_data)

            Row ID        Order ID   Ship Date       Ship Mode Customer ID  \
Order Date
2014-01-03    7981  CA-2014-103800  2014/01/07  Standard Class    DP-13000
2014-01-04     740  CA-2014-112326  2014/01/08  Standard Class    PO-19195
2014-01-04     741  CA-2014-112326  2014/01/08  Standard Class    PO-19195
2014-01-04     742  CA-2014-112326  2014/01/08  Standard Class    PO-19195
2014-01-05    1760  CA-2014-141817  2014/01/12  Standard Class    MB-18085
...            ...             ...         ...             ...         ...
2017-12-30    5092  CA-2017-156720  2018/01/03  Standard Class    JM-15580
2017-12-30     909  CA-2017-143259  2018/01/03  Standard Class    PO-18865
2017-12-30     908  CA-2017-143259  2018/01/03  Standard Class    PO-18865
2017-12-30    1297  CA-2017-115427  2018/01/03  Standard Class    EB-13975
2017-12-30     907  CA-2017-143259  2018/01/03  Standard Class    PO-18865

                Customer Name      Segment        Country           City  \
Order Date
2014-01-03      Darren Powers     Consumer  United States        Houston
2014-01-04      Phillina Ober  Home Office  United States     Naperville
2014-01-04      Phillina Ober  Home Office  United States     Naperville
2014-01-04      Phillina Ober  Home Office  United States     Naperville
2014-01-05         Mick Brown     Consumer  United States   Philadelphia
...                       ...          ...            ...            ...
2017-12-30      Jill Matthias     Consumer  United States       Loveland
2017-12-30  Patrick O'Donnell     Consumer  United States  New York City
2017-12-30  Patrick O'Donnell     Consumer  United States  New York City
2017-12-30         Erica Bern    Corporate  United States      Fairfield
2017-12-30  Patrick O'Donnell     Consumer  United States  New York City

                   State  Postal Code   Region       Product ID  \
Order Date
2014-01-03         Texas        77095  Central  OFF-PA-10000174
2014-01-04      Illinois        60540  Central  OFF-LA-10003223
2014-01-04      Illinois        60540  Central  OFF-ST-10002743
2014-01-04      Illinois        60540  Central  OFF-BI-10004094
2014-01-05  Pennsylvania        19143     East  OFF-AR-10003478
...                  ...          ...      ...              ...
2017-12-30      Colorado        80538     West  OFF-FA-10003472
2017-12-30      New York        10009     East  OFF-BI-10003684
2017-12-30      New York        10009     East  TEC-PH-10004774
2017-12-30    California        94533     West  OFF-BI-10002103
2017-12-30      New York        10009     East  FUR-BO-10003441

                   Category Sub-Category  \
Order Date
2014-01-03  Office Supplies        Paper
2014-01-04  Office Supplies       Labels
2014-01-04  Office Supplies      Storage
2014-01-04  Office Supplies      Binders
2014-01-05  Office Supplies          Art
...                     ...          ...
2017-12-30  Office Supplies    Fasteners
2017-12-30  Office Supplies      Binders
2017-12-30       Technology       Phones
2017-12-30  Office Supplies      Binders
2017-12-30        Furniture    Bookcases

                                                 Product Name    Sales  \
Order Date
2014-01-03  Message Book, Wirebound, Four 5 1/2" X 4" Form...   16.448
2014-01-04                                          Avery 508   11.784
2014-01-04                      SAFCO Boltless Steel Shelving  272.736
2014-01-04         GBC Standard Plastic Binding Systems Combs    3.540
2014-01-05  Avery Hi-Liter EverBold Pen Style Fluorescent ...   19.536
...                                                       ...      ...
2017-12-30                                Bagged Rubber Bands    3.024
2017-12-30               Wilson Jones Legal Size Ring Binders   52.776
2017-12-30                          Gear Head AU3700S Headset   90.930
2017-12-30    Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl   13.904
2017-12-30  Bush Westfield Collection Bookcases, Fully Ass...  323.136

            Quantity  Discount   Profit
Order Date
2014-01-03         2       0.2   5.5512
2014-01-04         3       0.2   4.2717
2014-01-04         3       0.2 -64.7748
2014-01-04         2       0.8  -5.4870
2014-01-05         3       0.2   4.8840
...              ...       ...      ...
2017-12-30         3       0.2  -0.6048
2017-12-30         3       0.2  19.7910
2017-12-30         7       0.0   2.7279
2017-12-30         2       0.2   4.5188
2017-12-30         4       0.2  12.1176

[9994 rows x 20 columns]

In [29]:
# ensure the DatetimeIndex is monotonic before label-based slicing
sales_2017 = sales_data.sort_index().loc['2017-01-01':'2017-12-31', ["Sales","Profit"]]

In [31]:
sales_data["Ship Date"] = pd.to_datetime(sales_data["Ship Date"])
sales_data = sales_data.sort_values(by="Ship Date")
print(sales_data)

            Row ID        Order ID  Ship Date       Ship Mode Customer ID  \
Order Date
2014-01-03    7981  CA-2014-103800 2014-01-07  Standard Class    DP-13000
2014-01-06    7181  CA-2014-106054 2014-01-07     First Class    JO-15145
2014-01-04     740  CA-2014-112326 2014-01-08  Standard Class    PO-19195
2014-01-04     741  CA-2014-112326 2014-01-08  Standard Class    PO-19195
2014-01-04     742  CA-2014-112326 2014-01-08  Standard Class    PO-19195
...            ...             ...        ...             ...         ...
2017-12-29    4240  CA-2017-158673 2018-01-04  Standard Class    KB-16600
2017-12-28     574  CA-2017-164826 2018-01-04  Standard Class    JF-15415
2017-12-28     571  CA-2017-164826 2018-01-04  Standard Class    JF-15415
2017-12-30     646  CA-2017-126221 2018-01-05  Standard Class    CC-12430
2017-12-29    5132  CA-2017-146626 2018-01-05  Standard Class    BP-11185

                Customer Name      Segment        Country           City  \
Order Date
2014-01-03      Darren Powers     Consumer  United States        Houston
2014-01-06      Jack O'Briant    Corporate  United States         Athens
2014-01-04      Phillina Ober  Home Office  United States     Naperville
2014-01-04      Phillina Ober  Home Office  United States     Naperville
2014-01-04      Phillina Ober  Home Office  United States     Naperville
...                       ...          ...            ...            ...
2017-12-29        Ken Brennan    Corporate  United States   Grand Rapids
2017-12-28  Jennifer Ferguson     Consumer  United States  New York City
2017-12-28  Jennifer Ferguson     Consumer  United States  New York City
2017-12-30        Chuck Clark  Home Office  United States       Columbus
2017-12-29       Ben Peterman    Corporate  United States        Anaheim

                 State  Postal Code   Region       Product ID  \
Order Date
2014-01-03       Texas        77095  Central  OFF-PA-10000174
2014-01-06     Georgia        30605    South  OFF-AR-10002399
2014-01-04    Illinois        60540  Central  OFF-LA-10003223
2014-01-04    Illinois        60540  Central  OFF-ST-10002743
2014-01-04    Illinois        60540  Central  OFF-BI-10004094
...                ...          ...      ...              ...
2017-12-29    Michigan        49505  Central  OFF-PA-10000994
2017-12-28    New York        10024     East  TEC-PH-10000347
2017-12-28    New York        10024     East  OFF-LA-10001297
2017-12-30     Indiana        47201  Central  OFF-AP-10002457
2017-12-29  California        92804     West  FUR-FU-10002501

                   Category Sub-Category  \
Order Date
2014-01-03  Office Supplies        Paper
2014-01-06  Office Supplies          Art
2014-01-04  Office Supplies       Labels
2014-01-04  Office Supplies      Storage
2014-01-04  Office Supplies      Binders
...                     ...          ...
2017-12-29  Office Supplies        Paper
2017-12-28       Technology       Phones
2017-12-28  Office Supplies       Labels
2017-12-30  Office Supplies   Appliances
2017-12-29        Furniture  Furnishings

                                                 Product Name    Sales  \
Order Date
2014-01-03  Message Book, Wirebound, Four 5 1/2" X 4" Form...   16.448
2014-01-06  Dixon Prang Watercolor Pencils, 10-Color Set w...   12.780
2014-01-04                                          Avery 508   11.784
2014-01-04                      SAFCO Boltless Steel Shelving  272.736
2014-01-04         GBC Standard Plastic Binding Systems Combs    3.540
...                                                       ...      ...
2017-12-29                                         Xerox 1915  209.700
2017-12-28  Cush Cases Heavy Duty Rugged Cover Case for Sa...   14.850
2017-12-28                                          Avery 473   72.450
2017-12-30  Eureka The Boss Plus 12-Amp Hard Box Upright V...  209.300
2017-12-29                            Nu-Dell Executive Frame  101.120

            Quantity  Discount    Profit
Order Date
2014-01-03         2       0.2    5.5512
2014-01-06         3       0.0    5.2398
2014-01-04         3       0.2    4.2717
2014-01-04         3       0.2  -64.7748
2014-01-04         2       0.8   -5.4870
...              ...       ...       ...
2017-12-29         2       0.0  100.6560
2017-12-28         3       0.0    4.0095
2017-12-28         7       0.0   34.7760
2017-12-30         2       0.0   56.5110
2017-12-29         8       0.0   37.4144

[9994 rows x 20 columns]

In [23]:
high_profit = sales_data[(sales_data["Profit"] > 100) & (sales_data["Sales"] < 500)]
print(high_profit)

            Row ID        Order ID  Ship Date       Ship Mode Customer ID  \
Order Date
2014-01-06    7478  CA-2014-167199 2014-01-10  Standard Class    ME-17320
2014-02-01     541  CA-2014-140795 2014-02-03     First Class    BD-11500
2014-02-11    5631  CA-2014-127614 2014-02-15  Standard Class    NF-18385
2014-03-05    8498  CA-2014-169061 2014-03-08    Second Class    AB-10150
2014-03-30    7630  CA-2014-162089 2014-04-01     First Class    MP-17470
...            ...             ...        ...             ...         ...
2017-12-22    8178  CA-2017-149699 2017-12-24     First Class    CM-12115
2017-12-20    6509  CA-2017-102197 2017-12-26  Standard Class    DK-13150
2017-12-24    4030  CA-2017-124296 2017-12-28  Standard Class    CS-12355
2017-12-23    6854  US-2017-162670 2017-12-28    Second Class    MF-18250
2017-12-29    4240  CA-2017-158673 2018-01-04  Standard Class    KB-16600

                   Customer Name      Segment        Country           City  \
Order Date
2014-01-06         Maria Etezadi  Home Office  United States      Henderson
2014-02-01       Bradley Drucker     Consumer  United States      Green Bay
2014-02-11      Natalie Fritzler     Consumer  United States     Chesapeake
2014-03-05           Aimee Bixby     Consumer  United States        Yonkers
2014-03-30           Mark Packer  Home Office  United States    Brownsville
...                          ...          ...            ...            ...
2017-12-22          Chad McGuire     Consumer  United States    Los Angeles
2017-12-20        David Kendrick    Corporate  United States  New York City
2017-12-24  Christine Sundaresam     Consumer  United States      Lafayette
2017-12-23        Monica Federle    Corporate  United States    Little Rock
2017-12-29           Ken Brennan    Corporate  United States   Grand Rapids

                 State  Postal Code   Region       Product ID  \
Order Date
2014-01-06    Kentucky        42420    South  TEC-PH-10004977
2014-02-01   Wisconsin        54302  Central  TEC-AC-10001432
2014-02-11    Virginia        23320    South  TEC-AC-10001432
2014-03-05    New York        10701     East  TEC-AC-10002001
2014-03-30       Texas        78521  Central  OFF-EN-10002230
...                ...          ...      ...              ...
2017-12-22  California        90008     West  TEC-AC-10000474
2017-12-20    New York        10009     East  OFF-PA-10001970
2017-12-24   Louisiana        70506    South  TEC-MA-10003183
2017-12-23    Arkansas        72209    South  TEC-PH-10003601
2017-12-29    Michigan        49505  Central  OFF-PA-10000994

                   Category Sub-Category  \
Order Date
2014-01-06       Technology       Phones
2014-02-01       Technology  Accessories
2014-02-11       Technology  Accessories
2014-03-05       Technology  Accessories
2014-03-30  Office Supplies    Envelopes
...                     ...          ...
2017-12-22       Technology  Accessories
2017-12-20  Office Supplies        Paper
2017-12-24       Technology     Machines
2017-12-23       Technology       Phones
2017-12-29  Office Supplies        Paper

                                                 Product Name   Sales  \
Order Date
2014-01-06                                        GE 30524EE4  391.98
2014-02-01                       Enermax Aurora Lite Keyboard  468.90
2014-02-11                       Enermax Aurora Lite Keyboard  234.45
2014-03-05              Logitech Wireless Gaming Headset G930  479.97
2014-03-30                                  Airmail Envelopes  335.72
...                                                       ...     ...
2017-12-22  Kensington Expert Mouse Optical USB Trackball ...  474.95
2017-12-20                                         Xerox 1908  279.90
2017-12-24    DYMO CardScan Personal V9 Business Card Scanner  479.97
2017-12-23  Ativa D5772 2-Line 5.8GHz Digital Expandable C...  494.97
2017-12-29                                         Xerox 1915  209.70

            Quantity  Discount    Profit
Order Date
2014-01-06         2       0.0  113.6742
2014-02-01         6       0.0  206.3160
2014-02-11         3       0.0  103.1580
2014-03-05         3       0.0  177.5889
2014-03-30         5       0.2  113.3055
...              ...       ...       ...
2017-12-22         5       0.0  142.4850
2017-12-20         5       0.0  137.1510
2017-12-24         3       0.0  239.9850
2017-12-23         3       0.0  148.4910
2017-12-29         2       0.0  100.6560

[260 rows x 20 columns]

In [24]:
high_profit = sales_data.loc[(sales_data["Category"] == "Technology") & (sales_data["Sales"] < 500), ["Category","Sales","Profit"]]
print(high_profit)

              Category    Sales    Profit
Order Date
2014-01-06  Technology  391.980  113.6742
2014-01-09  Technology   31.200    9.7500
2014-01-15  Technology  149.950   65.9780
2014-01-16  Technology  124.200  -31.0500
2014-01-26  Technology  187.980   52.6344
...                ...      ...       ...
2017-12-25  Technology   31.800   13.6740
2017-12-25  Technology  158.928   41.7186
2017-12-29  Technology  302.376   22.6782
2017-12-30  Technology   90.930    2.7279
2017-12-28  Technology   14.850    4.0095

[1451 rows x 3 columns]

select all the rows with "Technology" and sales > 100, and return a datafram with colums category, sales and profit.

In [25]:
tech_profit = sales_data.loc[(sales_data["Category"] == "Technology") & (sales_data["Sales"] > 100), ["Category","Sales","Profit"]]
print(tech_profit)

              Category    Sales    Profit
Order Date
2014-01-06  Technology  391.980  113.6742
2014-01-06  Technology  755.960  204.1092
2014-01-13  Technology  646.740  258.6960
2014-01-15  Technology  149.950   65.9780
2014-01-16  Technology  124.200  -31.0500
...                ...      ...       ...
2017-12-25  Technology  120.000   -7.2000
2017-12-23  Technology  494.970  148.4910
2017-12-21  Technology  281.970   78.9516
2017-12-25  Technology  158.928   41.7186
2017-12-29  Technology  302.376   22.6782

[1187 rows x 3 columns]

In [26]:
sales_data.isna().sum() # check for missing values

Row ID           0
Order ID         0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

In [33]:
# ensure the DatetimeIndex is monotonic before label-based slicing
sales_2017 = sales_data.sort_index().loc['2017-01-01':'2017-12-31', ["Sales","Profit"]]
print(sales_2017)

              Sales    Profit
Order Date
2017-01-01   15.224  -38.8212
2017-01-01   13.748  -22.6842
2017-01-01   48.896    8.5568
2017-01-01  141.420 -187.3815
2017-01-01  454.560 -107.9580
...             ...       ...
2017-12-30   52.776   19.7910
2017-12-30   90.930    2.7279
2017-12-30   13.904    4.5188
2017-12-30  209.300   56.5110
2017-12-30  323.136   12.1176

[3312 rows x 2 columns]

In [34]:
high_profit = sales_data.loc[(sales_data["Profit"] > 100) & (sales_data["Sales"] < 500), ["Category","Sales","Profit"]]
print(high_profit)

                   Category   Sales    Profit
Order Date
2014-01-06       Technology  391.98  113.6742
2014-02-01       Technology  468.90  206.3160
2014-02-11       Technology  234.45  103.1580
2014-03-05       Technology  479.97  177.5889
2014-03-30  Office Supplies  335.72  113.3055
...                     ...     ...       ...
2017-12-22       Technology  474.95  142.4850
2017-12-20  Office Supplies  279.90  137.1510
2017-12-23       Technology  494.97  148.4910
2017-12-24       Technology  479.97  239.9850
2017-12-29  Office Supplies  209.70  100.6560

[260 rows x 3 columns]

In [ ]:
filtered_sales = sales_2017["Sales"].where(sales_2017["Sales"] > 300)